h1 {
    color: #B25621;
    font-family: "Drumnik Clean", "New York Times", sans-serif;
    text-align: center;
    font-weight: 1000;
}

.head {
    font-family: "Drumnik Clean", "New York Times", sans-serif;
    text-align: center;
    font-weight: 1000;
}

.list {
        font-family: Didot, serif;
    }
